.app-header{
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: 2px 30px;
    border: 1px solid black;
    background-color: rgb(170, 186, 192);
  
}

.title {
    cursor: pointer;
}

.nav-items > ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-items > ul > li {
    cursor: pointer;
    font-weight: bold;

}

.app-body {
    background-color: rgb(19, 55, 84);
    color: white;
    height: 100vh;
    padding-top: 20px;
}